<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Newsletter Big Intro \ Progressive — Responsive Multipurpose HTML Template</title>
  <meta charset="utf-8">
  <link href="img/favicon.ico" rel="shortcut icon">
  <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body style="background-color: #ffffff; color: #1e1e1e; font-family: 'Arimo', sans-serif; font-size: 14px; line-height: 22px; margin: 0; padding: 0;">
  <table width="644" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto; height: 105px;">
    <tr>
      <td style="text-align: left; vertical-align: top; padding-top: 25px;">
        <img src="img/newsletter/logo.png" alt="Logo" style="max-width: 170px;">
      </td>
      <td style="padding: 11px 0; text-align: right; vertical-align: top;">
        <small style="display: block; font-size: 11px; line-height: 16px; margin: 0 0 14px;">Trouble seeing something? <b>View it online</b></small>
        <h1 style="font-size: 18px; font-weight: bold; line-height: 1.3; margin: 0;">Multi-purpose responsive newsletter</h1>
      </td>
    </tr>
  </table>
  
  <div style="background: #f2f2f2; padding: 10px 0;">
    <table width="644" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto; position: relative;">
      <tr>
        <td style="text-align: left; vertical-align: top;">
          <img src="img/newsletter/banner.jpg" alt="Banner" style="max-width: 100%; display: block;">
          <div style="background: #1e1e1e; background: rgba(30,30,30,.97); bottom: 0; padding: 28px 20px 20px; position: absolute; right: 0; top: 0; width: 274px;">
            <h2 style="color: #fff; font-size: 20px; line-height: 24px; margin: 0 0 35px;">Automation & Integration technology to fit any lifestyle</h2>
            <p style="color: #7b7b7b; font-size: 12px; line-height: 18px; margin: 0 0 37px;">At the touch of a button, your drapes or blinds will open and close, your lights turn on and off, your IPod plays music throughout the home or business whatever suits your needs!</p>
            <a href="#" style="background: #fff; color: #1e1e1e; display: block; text-decoration: none; -moz-border-radius: 3px; -moz-box-shadow: none; -webkit-border-radius: 3px; -webkit-box-shadow: none; border: 0 none; border-radius: 3px; display: block; padding: 16px 20px; font-weight: bold; text-align: center;">More</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
  
  <table width="644" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto; padding: 50px 0;">
    <tr style="color: #7f7f7f; font-size: 12px; line-height: 18px;">
      <td style="text-align: left; vertical-align: top; padding: 0 0 47px; width: 201px;">
        <a href="#" style="color: #7f7f7f; display: block; text-decoration: none;">
          <img src="img/newsletter/banner-small-1.jpg" alt="Banner" style="max-width: 100%;">
          <h3 style="font-size: 18px; font-weight: normal; margin: 17px 0 11px;">Home Theater</h3>
          Nunc condimentum eros vel  ante neque, ullamcorper ac feugiat at, ullamcorper sagittis magna.
        </a>
      </td>
      <td style="text-align: left; vertical-align: top; padding: 0 16px 47px; width: 201px;">
        <a href="#" style="color: #7f7f7f; display: block; text-decoration: none;">
          <img src="img/newsletter/banner-small-2.jpg" alt="Banner" style="max-width: 100%;">
          <h3 style="font-size: 18px; font-weight: normal; margin: 17px 0 11px;">Multiroom</h3>
          Nunc condimentum eros vel  ante neque, ullamcorper ac feugiat at, ullamcorper sagittis magna.
        </a>
      </td>
      <td style="text-align: left; vertical-align: top; padding: 0 0 47px; width: 201px;">
        <a href="#" style="color: #7f7f7f; display: block; text-decoration: none;">
          <img src="img/newsletter/banner-small-3.jpg" alt="Banner" style="max-width: 100%;">
          <h3 style="font-size: 18px; font-weight: normal; margin: 17px 0 11px;">Lighting Control</h3>
          Nunc condimentum eros vel  ante neque, ullamcorper ac feugiat at, ullamcorper sagittis magna.
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: left; vertical-align: top;">
        Welcome to our site. There are many variations alteration in some form, by injected humour, or randomised words which don't look even slightly believable. 
      </td>
    </tr>
  </table>
  
  <div style="background: #f7f7f7; border-top: 1px solid #e1e1e1; color: #7f7f7f; font-size: 11px; line-height: 20px; padding: 20px 0;">
    <table width="644" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto;">
      <tr>
        <td style="text-align: left; vertical-align: top;">
          <span>If you no longer wish to receive emails please <b style="color: #1e1e1e;">unsubscribe</b>.
          <br>Copyright © ItemBridge inc., 2013</span>
        </td>
        <td style="text-align: right; vertical-align: top; width: 50px;">
          <a href="#" style="background: #3b57a9; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: block; height: 40px; line-height: 46px; margin: 0 0 0 10px; text-align: center; width: 40px; text-decoration: none;">
            <img src="img/newsletter/facebook.png" alt="facebook" style="max-width: 100%;">
          </a>
        </td>
        <td style="text-align: right; vertical-align: top; width: 50px;">
          <a href="#" style="background: #1fb8e7; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: block; height: 40px; line-height: 42px; margin: 0 0 0 10px; text-align: center; width: 40px; text-decoration: none;">
            <img src="img/newsletter/twitter.png" alt="twitter" style="max-width: 100%;">
          </a>
        </td>
        <td style="text-align: right; vertical-align: top; width: 50px;">
          <a href="#" style="background: #eb6447; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: block; height: 40px; line-height: 42px; margin: 0 0 0 10px; text-align: center; width: 40px; text-decoration: none;">
            <img src="img/newsletter/google.png" alt="google" style="max-width: 100%;">
          </a>
        </td>
        <td style="text-align: right; vertical-align: top; width: 50px;">
          <a href="#" style="background: #2c6bb8; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: block; height: 40px; line-height: 42px; margin: 0 0 0 10px; text-align: center; width: 40px; text-decoration: none;">
            <img src="img/newsletter/in.png" alt="in" style="max-width: 100%;">
          </a>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>